<html>
    <head>
        <title>Cholie's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Cholie's Blog</a></h1>
        </div>

        <div>
            <p>published: 02.01.2020, 04:31</p>
            <h2><a href="">My first post</a></h2>
            <p>Travelling Robots</p>
        </div>

        <div>
            <p>published: 2.02.2020, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Angry Robots</p>
        </div>
    </body>
</html>
